<!DOCTYPE html>

<html>
 <head>
  <link href="static/log.css", rel="stylesheet", text="text/css"/>
  <meta charset="UTF-8" />
 </head>

 <body>
  <p>DocsHub®</p>
  <div class="main">
   <form class="send", action="{{ url_for('login') }}", method="POST">  
    {{ email(placeholder="Your Email", class="email", autocomplete="off") }}
    {{ password(placeholder="Your password", class="password", autocomplete="off") }}
    <button type="submit">Enter</button>
   </form>
   <text>{{ error }}</text>
  </div>
 </body>

</html>